<table class="table">
  <tr>
    <td>
      <%= building.title %>
    </td>
  </tr>
  <tr>
    <td>
      <%= building.description %>
    </td>
  </tr>
  <tr>
    <td>
      <%= building.unit_type %>
    </td>
  </tr>
  <tr>
    <td>
      <%= building.square_meters %> m2
    </td>
  </tr>
  <tr>
    <td>
      <%= building.address %>
    </td>
  </tr>
</table>
